<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmovel.ufop.br.capp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GoogleSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".RegisterCarActivity" />
        <activity android:name=".RegisterCarRepairShopActivity" />
        <activity android:name=".ListCarActivity" />
        <activity android:name=".ListCarRepairShopActivity" />
        <activity android:name=".EditCarRepairShopActivity" />
        <activity android:name=".EditCarActivity" />
        <activity android:name=".EditUserActivity" />
        <activity android:name=".AutoMaintenanceActivity" />
        <activity android:name=".RegisterAutoMaintenanceActivity"></activity>
    </application>

</manifest>